body{
    margin: 0;
    padding: 0;
    background-image: url("dating.jpg");
    background-size: 100%;
    background-color: #cccccc;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}

.container{
    
    border:1px solid grey;
    height: 800px;
    width: 800px;
    
}

.head{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

